.contato {
    background-color: var(--branco);
    padding: 1.5em;
}

.contato__titulo, 
.contato__descricao {
    background: var(--gradiente);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1em;
}

.contato__titulo {
    font-weight: 500;
    font-size: 18px;
}

.contato__descricao {
    font-weight: 300;
    line-height: 1.3em;
}

.contato__email {
    color: var(--principal-1);
    padding: 0.6em 1.2em;
    margin: 0 auto;
    border: 1.5px solid var(--principal-1);
    border-radius: 26px;
    width: 100%
}

.contato__email:focus {
    border: 1.5px solid var(--destaque);
    outline: none;
}

.contato__email::placeholder {
    color: var(--principal-1);
    background: url("../img/Email.svg") no-repeat;
    padding-left: 2em;
}

.contato__email:focus::placeholder {
    color: transparent;
    background: none;
}

