.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.cabeçalho__menu-hamburguer {
    width: 48px;
    height: 48px;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabeçalho__menu-hamburguer.container__imagem {
    padding: 2em;
}

.container__imagem {
    padding: 0.15em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao {
    display: none;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1.2em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--destaque);
    font-weight: 700;
}

.lista-menu__item {
    background: var(--branco);
}

.lista-menu__link {
    background: var(--gradiente);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    text-transform: uppercase;
}